body {
    background-color: pink;
    font-family: 'Snell Roundhand', cursive;
}





/* NAVBAR / login */
/* NAVBAR / login */
/* NAVBAR / login */
/* NAVBAR / login */
/* NAVBAR / login */

.navbar {
    background-color: rgb(255, 255, 255);
    color: pink;
    width: 100%;
    padding: 15px 10px;
    margin: -10px 0px 15px -10px;
    text-align: center;
    font-size: 35px;
}



.nav_buttons {
    display: flex;
    margin: auto;
    width: 45%;
    min-width: 350px;
    max-width: 600px;
    /* border: 3px solid white; */
    border-radius: 5px;
    padding: 10px;
    color: pink;
}


.button{
    margin: auto;
    position: relative;
    background-color: white;
    border-radius: 4em;
    font-size: 15px;
    color: pink;
    padding: 0.8em 1.9em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.button:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.button:active {
    top: 1px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }




/* Admin log in */
/* Admin log in */
/* Admin log in */
/* Admin log in */
/* Admin log in */


.login h5{
    color: white;
    cursor: pointer;
}
.login_form {
    margin: 45px auto;
    border: white 5px solid;
    color: white;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
}




/* About me section */
/* About me section */
/* About me section */
/* About me section */
/* About me section */

.about {
    border: white 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    min-width: 350px;
    max-width: 500px;
    margin: 25px auto;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.about img{
    width: 200px;
    display: block;
    margin: 15px auto;
    border: pink 3px solid;
    border-radius: 100%;
}

.about p{
    text-align: center;
    color: pink;
    width: 80%;
    margin: 15px auto;
}

/* hair style cards */
/* hair style cards */
/* hair style cards */
/* hair style cards */
/* hair style cards */

.hairStyle {
    text-align: center;
    
    margin: 25px auto;
}

.hairStyle h1 {
    color: white;
}

.hairStyleCard {
    border: white 1px solid;
    border-radius: 10px;
    width: 50%;
    min-width: 350px;
    max-width: 450px;
    background-color: white;
    margin: 20px auto;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.hairStyleCard h2{
    color: pink;
    font-size: 2.5em;
    margin: 15px auto;
}

.hairStyleCard h5{
    color: pink;
    font-size: 1.3em;
    margin: 15px auto;
}

.hairStyleCard p {
    margin: 5px 15px;
}

.hairStyleCard img{
    width: 300px;
    border: pink 3px solid;
    border-radius: 50%;
    margin: 0px auto;
}

.hairStyleContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paragraph-section {
    max-height: 25em; /* Adjust the height as needed */
    overflow: hidden;
    transition: max-height 0.3s ease; /* Add smooth transition effect */
}

.paragraph-section.collapsed {
    max-height: 3.4em; /* Same as initial height */
}

.paragraph-section p {
    margin: 0em 1.2em; /* Remove default margin for the paragraph */
}

.paragraph-section button {
    margin-top: 0em; /* Adjust spacing between paragraph and button */
}



/* Contact Card */
/* Contact Card */
/* Contact Card */
/* Contact Card */
/* Contact Card */

.contactContainer {
    border: white 1px solid;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    min-width: 350px;
    max-width: 650px;
    margin: 35px auto;
    text-align: center;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}



/* Loader */
/* Loader */
/* Loader */
/* Loader */
/* Loader */

.loader {
    /* the colors */
    --c1: white;
    --c2: blue;
    --c3: aqua;
    --c4: #554236;
    /**/
    margin: 150px auto;
    width: 180px; /* control the size */
    aspect-ratio: 8/5;
    --_g: no-repeat radial-gradient(#000 68%,#0000 71%);
    -webkit-mask: var(--_g),var(--_g),var(--_g);
    -webkit-mask-size: 25% 40%;
    background: 
        conic-gradient(var(--c1) 50%,var(--c2) 0) no-repeat,
        conic-gradient(var(--c3) 50%,var(--c4) 0) no-repeat;
    background-size: 200% 50%;
    animation: 
    back 4s infinite steps(1),
    load 2s infinite;
}

@keyframes load {
    0%    {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
    16.67%{-webkit-mask-position: 0% 100%,50% 0%  ,100% 0%  }
    33.33%{-webkit-mask-position: 0% 100%,50% 100%,100% 0%  }
    50%   {-webkit-mask-position: 0% 100%,50% 100%,100% 100%}
    66.67%{-webkit-mask-position: 0% 0%  ,50% 100%,100% 100%}
    83.33%{-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 100%}
    100%  {-webkit-mask-position: 0% 0%  ,50% 0%  ,100% 0%  }
}
@keyframes back {
    0%,
    100%{background-position: 0%   0%,0%   100%}
    25% {background-position: 100% 0%,0%   100%}
    50% {background-position: 100% 0%,100% 100%}
    75% {background-position: 0%   0%,100% 100%}
}



/* Edit About Form */
/* Edit About Form */
/* Edit About Form */
/* Edit About Form */
/* Edit About Form */

.editAboutForm {
    border: white solid 5px;
    width: 70%;
    border-radius: 5px;
    margin: 15px auto;
    min-width: 400px;
    padding: 10px;
}

.editAboutForm input{
    height: 50px;
}

.editAboutForm img {
    width: 250px;
    border: white 5px solid;
    border-radius: 100%;
}

/* edit hair style form */
/* edit hair style form */
/* edit hair style form */
/* edit hair style form */
/* edit hair style form */

.hairStyleEditForm {
    border: white 5px solid;
    border-radius: 5px;
    width: 70%;
    min-width: 400px;
    margin: 15px auto;
    padding: 10px
}

.hairStyleEditForm img{
    width: 200px;
    border: white 3px solid;
    border-radius: 100%;
    margin: 5px;
}



/* Add Hair Style Form */
/* Add Hair Style Form */
/* Add Hair Style Form */
/* Add Hair Style Form */
/* Add Hair Style Form */

.addNewStyleForm {
    border: white solid 5px;
    width: 70%;
    border-radius: 5px;
    margin: 15px auto;
    min-width: 400px;
    padding: 10px;
}