body {
    background-color: pink;
}




/* NAVBAR / login */
/* NAVBAR / login */
/* NAVBAR / login */
/* NAVBAR / login */
/* NAVBAR / login */

.navbar {
    background-color: rgb(255, 255, 255);
    color: pink;
    width: 100%;
    padding: 15px 10px;
    margin: -10px 0px 15px -10px;
    text-align: center;
    font-size: 35px;
}


.nav_buttons {
    display: flex;
    margin: auto;
    width: 45%;
    min-width: 350px;
    /* border: 3px solid white; */
    border-radius: 5px;
    padding: 10px;
    color: pink;
}


.button{
    margin: auto;
    position: relative;
    background-color: white;
    border-radius: 4em;
    font-size: 15px;
    color: pink;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.button:active {
    top: 1px;
}






/* Admin log in */
/* Admin log in */
/* Admin log in */
/* Admin log in */
/* Admin log in */
.login {
    float: right;
}

.login h5{
    color: white;
    cursor: pointer;
}
.login_form {
    border: white 3px solid;
    border-radius: 5px;
    width: 300px;
    padding: 15px;
}




/* About me section */
/* About me section */
/* About me section */
/* About me section */
/* About me section */

.about {
    border: white 5px solid;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    margin: 25px auto;
}

.about img{
    width: 200px;
    display: block;
    margin: 15px auto;
    border: pink 3px solid;
    border-radius: 100%;
}

.about p{
    text-align: center;
    color: pink;
    width: 80%;
    margin: 15px auto;
}

/* hair style cards */
/* hair style cards */
/* hair style cards */
/* hair style cards */
/* hair style cards */

.hairStyle {
    text-align: center;
    
    margin: 25px auto;
}

.hairStyle h1 {
    color: white;
}

.hairStyleCard {
    border: white 1px solid;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    margin: 20px auto;
}

.hairStyleCard img{
    width: 300px;
    border: pink 3px solid;
    border-radius: 50%;
    margin: 5px auto;
}